<%= form_with(model: measurewithunit, local: true) do |form| %>
  <% if measurewithunit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measurewithunit.errors.count, "error") %> prohibited this measurewithunit from being saved:</h2>

      <ul>
        <% measurewithunit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
