<p id="notice"><%= notice %></p>

<p>
  <strong>Guid:</strong>
  <%= @object_table.guid %>
</p>

<%= link_to 'Edit', edit_object_table_path(@object_table) %> |
<%= link_to 'Back', object_tables_path %>
