<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<p>
  <strong>Guid:</strong>
  <%= @object_table.guid %>
</p>

=======
>>>>>>> 8e31398c502b5332a4908c846796eb04e6245ac6
<%= link_to 'Edit', edit_object_table_path(@object_table) %> |
<%= link_to 'Back', object_tables_path %>
