<%= form_with(model: relassociate, local: true) do |form| %>
  <% if relassociate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relassociate.errors.count, "error") %> prohibited this relassociate from being saved:</h2>

      <ul>
        <% relassociate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
