<%= form_with(model: typecollection, local: true) do |form| %>
  <% if typecollection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(typecollection.errors.count, "error") %> prohibited this typecollection from being saved:</h2>

      <ul>
        <% typecollection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
