<%= form_with(model: typevalue, local: true) do |form| %>
  <% if typevalue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(typevalue.errors.count, "error") %> prohibited this typevalue from being saved:</h2>

      <ul>
        <% typevalue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
