<h1>Editing Root Externaldocument</h1>

<%= render 'form', root_externaldocument: @root_externaldocument %>

<%= link_to 'Show', @root_externaldocument %> |
<%= link_to 'Back', root_externaldocuments_path %>
