<%= form_with(model: relassignpropertywithvalue, local: true) do |form| %>
  <% if relassignpropertywithvalue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relassignpropertywithvalue.errors.count, "error") %> prohibited this relassignpropertywithvalue from being saved:</h2>

      <ul>
        <% relassignpropertywithvalue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
