<h1>Editing Relassignpropertywithvalue</h1>

<%= render 'form', relassignpropertywithvalue: @relassignpropertywithvalue %>

<%= link_to 'Show', @relassignpropertywithvalue %> |
<%= link_to 'Back', relassignpropertywithvalues_path %>
