<%= form_with(model: relsequence, local: true) do |form| %>
  <% if relsequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relsequence.errors.count, "error") %> prohibited this relsequence from being saved:</h2>

      <ul>
        <% relsequence.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
